.ai_assistant,
.aiAssistantBlock .left .content{
    -webkit-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
  }
  
  .aiAssistantBlock {
    position: absolute;
    width: 110px;
    height: 35px;
    z-index: 900;
    background-color: white;
    border: none;
    box-shadow: 0 4px 12px #00000026;
    border-radius: 6px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 0 6px;
  }
  
  .aiAssistantBlock .left {
    cursor: pointer;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 15px;
  }
  .aiAssistantBlock .left img {
    width: 26px;
    height: 26px;
  }
  .aiAssistantBlock .left .content {
    width: 100%;
    /* color: white; */
    margin-left: 6px;
  }
  .aiAssistantBlock .left .content span:last-child {
    display: none;
  }
  .aiAssistantBlock .left .content span:last-child:hover {
    color: #1c6cd8;
    font-weight: 600;
  }
  
  .aiAssistantBlock:hover .left {
    width: 130px;
  }
  .aiAssistantBlock:hover {
    width: 130px;
    height: 35px;
    background: white;
  }
  
  .aiAssistantBlock:hover .left .content span:first-child {
    display: none;
  }
  .aiAssistantBlock:hover .left .content span:last-child {
    display: block;
  }
  
  .aiAssistantBlock .right {
    display: none;
  }
  .aiAssistantBlock:hover .right {
    display: block;
    width: 22px;
    width: 22px;
  }
  
  .aiAssistantBlock .right:hover {
    color: #1c6cd8;
    font-weight: 500;
    cursor: pointer;
  }