body {
  font-size: 14pt;
  font-family: Roboto;
}

#chat-win input[type="checkbox"] {
  position: relative;
  width: 15px;
  height: 15px;
  line-height: 15px;
  border: 1px solid #949494;
  -webkit-appearance: none;
}

#chat-win input[type="checkbox"]:checked {
  background-color: #000000;
  cursor: pointer;
}

#chat-win input[type="checkbox"]:hover {
  cursor: pointer;
}

#chat-win input[type="checkbox"]:checked::after {
  content: "\2713";
  display: inline-block;
  position: absolute;
  top: 0;
  width: 15px;
  height: 15px;
  color: #fff;
  text-align: center;
  cursor: pointer;
}

#chat-win input[type="checkbox"]+label::before {
  content: "\2713";
  display: inline-block;
  font-size: 20px;
  margin-right: 5px;
  vertical-align: middle;
  color: #fff;
  cursor: pointer;
}

@keyframes circle {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}

#ai-msg-loading,
#ai-msg-loading>div {
  position: relative;
  box-sizing: border-box;
}

#ai-msg-loading {
  display: block;
  font-size: 0;
  color: #000;
}

#ai-msg-loading.la-dark {
  color: #333;
}

#ai-msg-loading>div {
  display: inline-block;
  float: none;
  background-color: currentColor;
  border: 0 solid currentColor;
}

#ai-msg-loading {
  width: 54px;
  height: 18px;
}

#ai-msg-loading>div {
  width: 8px;
  height: 8px;
  margin: 3px;
  border-radius: 100%;
  animation: ball-beat 0.7s -0.15s infinite linear;
}

#ai-msg-loading>div:nth-child(2n-1) {
  animation-delay: -0.5s;
}

@keyframes ball-beat {
  50% {
    opacity: 0.2;
    transform: scale(0.75);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}

#logo-tip-web-chat-list {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: #e4ecfa;
  height: 26px;
  /* line-height: 26px; */
  width: 90px;
  font-size: 13px;
  color: #333;
  padding: 4px;
  border-radius: 6px;
  z-index: 100000;
  -webkit-box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

#logo-bar {
  width: 70px;
  height: 62px;
  background-color: #000000;
  border-radius: 46%;
  line-height: 62px;
  text-align: center;
  vertical-align: middle;
  /* position: fixed;
  bottom: 20px;
  right: 30px; */
  box-shadow: rgba(0, 0, 0, 0.5) 2px 2px 10px;
  z-index: 100000;
  cursor: pointer;
  -webkit-user-drag: none;
  user-select: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}

#chat-win {
  /* height: 800px; */
  width: 500px;
  height: 82%;
  background-color: #ffffff;
  border-radius: 10px;
  position: fixed;
  bottom: 90px;
  right: 20px;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 2px 5px;
  z-index: 100000;
  -webkit-user-drag: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

#title-bar {
  width: 100%;
  height: 6.5%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  -webkit-user-drag: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #409eff;
  color: rgba(255, 255, 255, 1);
  cursor: pointer;
}

#title-context-left {
  width: auto;
  height: 100%;
  color: rgba(255, 255, 255, 1);
  font-size: 15px;
  text-align: center;
  margin-left: 12px;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#chat-list {
  width: 100%;
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: start;
  box-sizing: border-box;
  padding-left: 10px;
  overflow-y: auto;
}

#limited-offer-top {
  width: 100%;
  /* height: 40px; */
  padding-top: 40px;
}

#input-box {
  width: 92%;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: right;
}

#quick-icon {
  padding-right: 6px;
  color: #409eff;
}

#chat-input {
  width: 90%;
  height: 32px;
  font-size: 14px;
  outline: none;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 1);
  border: 1px solid #409eff;
  padding: 0 8px;
}

#submit-btn {
  width: 58px;
  height: 33px;
  border-radius: 5px;
  background-color: #409eff;
  text-align: center;
  cursor: not-allowed;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 8px;
}

#quick-ques {
  width: 430px;
  height: 300px;
  background-color: white;
  display: none;
  flex-direction: column;
  align-items: start;
  z-index: 100001;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 2px 6px;
  position: absolute;
  bottom: 60px;
  left: 25px;
  border-radius: 10px;
  padding: 10px;
  box-sizing: border-box;
  overflow-y: scroll;
  overflow-x: hidden;
}

#quick-ques .ques-div {
  width: 380px;
  font-size: 14px;
  cursor: pointer;
  font-weight: 500;
  line-height: 30px;
  vertical-align: middle;
  text-align: left;
  text-overflow: ellipsis;
  overflow: hidden;
  padding-left: 12px;
}

#quick-ques .ques-div:hover {
  color: #1c6cd8;
  text-decoration: underline;
}

.ques-list-title {
  width: 380px;
  font-size: 14px;
  cursor: pointer;
  font-weight: 500;
  line-height: 30px;
  vertical-align: middle;
  text-align: left;
  text-overflow: ellipsis;
  overflow: hidden;
  padding-left: 8px;
}

.ques-list-title:hover {
  color: #1c6cd8;
  text-decoration: underline;
}

#top-line {
  width: 410px;
  height: 50px;
  display: flex;
  align-items: center;
}

#qa-loading {
  width: 36px;
  height: 36px;
  border: 2px solid grey;
  border-top-color: transparent;
  border-radius: 100%;
  animation: circle infinite 0.75s linear;
  position: absolute;
  left: 200px;
  top: 125px;
}

#tip-box {
  width: 64%;
  min-height: 35%;
  background-color: white;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 30%;
}

#text01 {
  /* width: auto;
  height: 32px; */
  width: 90%;
  min-height: 32px;
  margin: 0 auto;
  font-size: 16px;
  color: black;
  line-height: 36px;
  text-align: center;
}

#text02,
#text03 {
  /* width: auto;
  height: 32px; */
  width: 90%;
  min-height: 32px;
  margin: 0 auto;
  font-size: 14px;
  color: #333;
  line-height: 36px;
  text-align: center;
}

#start-btn {
  width: 100px;
  height: 32px;
  font-size: 16px;
  background-color: #1f98fc;
  color: white;
  border-radius: 8px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 8px;
}

#setting-tip {
  width: 100px;
  height: 32px;
  font-size: 14px;
  color: #333;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 10px;
}

#before-tip-buildtip {
  width: 100%;
  height: 93.6%;
  background-color: rgba(0, 0, 0, 0.3);
  display: none;
}

#before-tip {
  width: 100%;
  height: 93.6%;
  background-color: rgba(0, 0, 0, 0.3);
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 100000;
  position: absolute;
  top: 6.5%;
  left: 0;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

#freeOverDialog {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  width: 360px;
  height: 310px;
  margin-top: 110px;
  border-radius: 10px;
}

#freeOverDialog #freeOverDialog-header {
  width: 100%;
  color: rgba(0, 0, 0, 1);
  font-size: 20px;
  text-align: center;
}

#freeOverDialog #freeOverDialog-center {
  margin: 0 auto;
  color: rgba(79, 79, 79, 1);
  font-size: 14px;
  text-align: center;
  margin-top: 18px;
  width: 90%;
  margin: 10px auto;
}

#freeOverDialog #freeOverDialog-center #center-senior {
  color: #951D1D;
}

#freeOverDialog #freeOverDialog-footer {
  margin: 0 auto;
  width: 190px;
  height: 100px;
  white-space: nowrap;
}

#freeOverDialog #freeOverDialog-footer #footer-item {
  height: 21px;
  display: flex;
  flex-direction: row;
  align-items: start;
  color: rgba(79, 79, 79, 1);
  font-size: 14px;
  margin-top: 5px;
  justify-content: start;
}

#freeOverDialog #freeOverDialog-footer #footer-item p {
  margin-left: 9px;
}

#freeOverDialog #footer-contenter {
  color: rgba(79, 79, 79, 1);
  font-size: 14px;
  text-align: center;
  width: 62%;
  margin: 0 auto;
}

#freeOverDialog #footer-contenter #context {
  color: #951D1D;
}

#freeOverDialog #footer-cat-button {
  width: 111px;
  height: 37.5px;
  background-color: #951D1D;
  color: #fff;
  margin: 19px auto;
  display: block;
  border-radius: 5px;
  text-align: center;
  line-height: 37.5px;
  cursor: pointer;
  z-index: 100005;
}


#fast_q {
  width: 86%;
  font-size: 14px;
  cursor: pointer;
  line-height: 30px;
  vertical-align: middle;
  text-align: left;
  text-overflow: ellipsis;
  overflow: hidden;
}

#fastQuick,
#fastQuick {
  width: 86%;
  font-size: 14px;
  color: #1c6cd8;
  text-decoration: underline;
  cursor: pointer;
  font-weight: 500;
  line-height: 30px;
  vertical-align: middle;
  text-align: left;
  text-overflow: ellipsis;
  overflow: hidden;
}

#quickTitleText {
  /* width: 86%; */
  font-size: 14px;
  color: #333333;
  font-weight: 500;
  line-height: 30px;
  padding-top: 15px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.msg-div {
  box-sizing: border-box;
  max-width: 80%;
  margin: 16px 6px;
  padding: 22px 16px 28px;
  background-color: #f7f7f7;
  border-radius: 14px;
  color: #333333;
  font-size: 14px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  white-space: pre-line;
  text-align: start;
  letter-spacing: 1px;
  font-family: "微软雅黑";
  line-height: 22px;
  position: relative;
}

.msg-r-div {
  max-width: 80%;
  margin: 16px 6px;
  padding: 10px 16px;
  /* background-color: #0067cf; */
  background-color: #4690e1;
  color: #ffffff;
  font-size: 14px;
  border-radius: 14px;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  white-space: pre-line;
  box-sizing: border-box;
  text-align: start;
}

#help-tip {
  display: none;
  position: absolute;
  width: 200px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  z-index: 1000;
  font-size: 13px;
  color: #333;
}

#help-tip::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 70%;
  margin-left: -5px;
  border-width: 5.9px;
  border-style: solid;
  border-color: #ccc transparent transparent transparent;
}

#web-cat-message {
  /* width: 71px; */
  /* height: 62px; */
  width: 100px;
  height: 110px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 100000;
}

#web-cat-close {
  position: absolute;
  right: 0;
  top: 15px;
  display: none;
}

#web-cat-close span {
  font-size: 25px;
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  #limited-time-offer-pext {
    width: 100%;
    height: 40px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
}

#limited-time-offer-pext {
  width: 100%;
  height: 40px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  background: linear-gradient(180deg, rgba(237, 137, 85, 1) 0%, rgba(237, 104, 92, 1) 100%);
  color: rgba(255, 255, 255, 1);
  z-index: 100002;
  position: absolute;
  top: 6.42%;
  left: 0;
}

#limited-time-offer-pext #offer-text {
  font-size: 14px;
}

#limited-time-offer-pext #offer-text-span {
  text-decoration: underline;
  margin-left: 6px;
}

#limited-time-offer-pext #offer-text-span:hover {
  color: #409eff;
  /* text-decoration: underline; */
}

#innter-copy-btn {
  position: absolute;
  top: 4px;
  right: 15px;
}

#innter-copy-btn #copy-icon {
  cursor: pointer;
  width: 16px;
  height: 16px;
  font-size: 16px;
}

#copy-ai-button {
  /* position: absolute;
  bottom: 10px;
  right: 26px; */
}

#copy-ai-button #copy-ai-icon {
  font-size: 16px;
  width: 16px;
  height: 16px;
  cursor: pointer;
  position: absolute;
  bottom: 10px;
  right: 7px;
}

#copy-ai-button #check-ai-icon {
  font-size: 16px;
  width: 16px;
  height: 16px;
  position: absolute;
  bottom: 10px;
  right: 7px;
}

#reset-ai-icon {
  font-size: 16px;
  width: 16px;
  height: 16px;
  cursor: pointer;
  position: absolute;
  bottom: 10px;
  right: 26px;
}